:css
  .cover {width: 640px}
  .cover table th, .cover table td { text-align: left; padding: 3px}
  .cover h2 {color: #888}
.cover
  %p
    Hi, have you found anyone yet? 
  %p
    You're looking for experience in 
    %b
      =$rm->skills_list . "."
    I am that expert.
  %p My name is Ben Allfree and I am the best programmer you can find. Smart, pragmatic, resourceful, team-oriented, self-starting, experienced, and I never give up.
    
  %p Please find a tailored resume attached. Further information is available from my web site, http://www.benallfree.com. There you can really get to know me and how I think. I have blog posts, podcasts, samples, testimonials, and more.
  
  %p Thanks and have a great day. 
  
  %p
  Ben Allfree, President
  %br
  5662 Calle Real, #446
  %br
  Santa Barbara, CA  93117
  %br
  http://www.BenAllfree.com
  %br
  Rates starting at $35 hourly (20 hour minimum please)
  %br
  805-403-2380
  
